# ==========================================
# VIRTUAL ENVIRONMENT (Môi trường ảo)
# ==========================================
venv/
env/

# ==========================================
# PYTHON CACHE (Bộ nhớ đệm của Python)
# ==========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================================
# AUTOMATION CACHES (Bộ nhớ đệm của Tool Test)
# ==========================================
.pytest_cache/
.wdm/
.cache/

# ==========================================
# TEST REPORTS (Báo cáo kết quả)
# ==========================================

assets/
*.log

# ==========================================
# IDE & OS FILES (File cấu hình máy cá nhân)
# ==========================================
.vscode/
.idea/
.DS_Store